<nav #nav class="navbar back-white">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="dark-blue">SCADA Manager</a>
            <button class="navbar-toggler" data-toggle="open-navbar1">
                    <div></div>
                    <div></div>
                    <div></div>
            </button>
        </div>  
      <div class="navbar-menu" id="open-navbar1">
        <div class="navbar-nav">
            <a id="navbar-option" [routerLink]="['service-check']">Service</a>
            <a id="navbar-option"   [routerLink]="['template']">Template</a>  
            <a id="navbar-option"   [routerLink]="['check-lamps']">Lamps</a>  
            <a id="navbar-option"   [routerLink]="['breakdown']">Breakdown</a>  
            <div  class="logout-option" [routerLink]="['login']"><a>Log out</a> </div> 
        </div>
      </div>
    </div>
  </nav>