#mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    border: 2px white;
    border-radius: 12px;
    background-color: rgb(25, 159, 189);
}

button {
    color: white;
    font-weight: 200;
    font-style: normal;
    background-color: rgb(23, 135, 68);
    padding: 5px;
    stroke: 5px white;
    border: 1px white;
    border-radius: 10px;
    cursor: pointer;
}