<div>
    <form (ngSubmit)="createBreakdown()" [formGroup]="createForm">
        <mat-card>
        <mat-card-header>
            <mat-card-title>Create breakdown</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field >
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Input breakdown name">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Select client</mat-label>
                <mat-select #availableClientSelect (selectionChange)="onClientChange($event)">
                    <mat-option *ngFor="let topping of availableClients" [value]="topping">
                    {{topping.name + " " + topping.lastName + " " + topping.phone}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Select car</mat-label>
                <mat-select #availableCarsSelect formControlName="car">
                    <mat-option *ngFor="let topping of availableCars" [value]="topping">
                    {{topping.plate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
            <mat-label>Select symptoms</mat-label>
            <mat-select #availableSelect multiple formControlName="symptoms">
                <mat-option *ngFor="let topping of availableItems" [value]="topping">
                {{topping}}
                </mat-option>
            </mat-select>
            </mat-form-field>
            <br>
            <mat-checkbox [formControl]="engineLamp" ngDefaultControl>Hide required marker</mat-checkbox>
            <br>
            <button  mat-flat-button color="primary" type="submit" [disabled]="!createForm.valid">Submit</button>
        </mat-card-content>
        </mat-card>
    </form>
  </div>
